/*Importa a fonte "ROBOTO" do google Fonst em diversos estilos e pasos*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Define variáveis globáis para cores e bordas, facilitando mantenção e ajustes futuros*/

:root {
    --main-color: #da190f;
    --bg: #13131a;
    --br-card: #0c0c14;
    --border: 0.1rem solid grey;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /**/
    font-family: 'Roboto', 'sana-serif';
    text-decoration: none;
    text-transform: capitalize;
    /**/
    transition: 0.2s;
    /**/
    outline: none;
    /**/
    border: none;
    /**/
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    /*Cofiguração do Font-Size para 62.5%, facilitabdo o uso do REM (1rem = 10px)*/
    overflow-x: hidden;
    /**/
}

body {
    background: var(--bg);
    /*fundo de bodu color negro, esto color viene de arriba que esta dentro de root*/

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    /*explicação do uso da porcentagem*/
    border-bottom: var(--border);
    /*esto biene de encima declarado border de root*/
    position: sticky;
    background: var(--bg);
    top: 0;
    left: 0;
    z-index: 999;
}

/*estilizando imagen que esta dentro de header que esta ancorado*/
.logo img {
    height: 6.5rem;
    /*define altura de logo*/
    border-radius: 100%;
}

.ul-header {
    display: flex;
    gap: 15px;
}

.ul-header a {
    color: #fff;
    font-size: 1.6rem;
}

.ul-header li a:hover {
    color: var(--main-color);
    /*muda a cor do hover*/
    border-bottom: 0.1rem solid var(--main-color);
    /*adiciona uma linha inferior no hover*/
    padding-bottom: 0.5rem;
    /*Adiciona espaçamento inferior no hover*/
}

.ul-header li {
    list-style: none;
    /*esto é para tirar os puntos de as listas*/

}

.icons {
    /*NÃO  ESTOU MEXENDO NOS ICONES, E SIM NA CAIXA, OK??*/
    display: flex;
    align-items: center;
    gap: 15px;
    /*es para separar los inconos*/
}

.icons i {
    color: white;
    /*cor branca para ícons*/
    cursor: pointer;
    /*Altera o cursor ao passar sobre o ícone*/
    font-size: 2.5rem;
    /* tamanho dos ícones*/
}

.icons i:hover {
    color: var(--main-color);
    /*muda a cor do ícone ao passar o mause*/
}

#home {
    display: flex;
    /**/
    align-items: center;
    position: relative;
    /*permite posicionamento relativo*/
    min-height: 85vh;
    /*altura minima da sessão*/
    background: url(imagem/images/home.jpg) no-repeat;
    /*add img sem repetição*/
    background-size: cover;
    /*preenchimento da imagem*/
    background-position: center;
    /*posicionamento da imagem*/
    border-bottom: var(--border);
    /*adiciona borda inferior*/
}

.content {
    max-width: 60rem;
    /**/
    position: relative;
    z-index: 2;
}

.content h3 {
    font-size: 6rem;
    /*tamanho do título*/
    text-transform: uppercase;
    /*deixando o texto em caisa alta*/
    color: #fff;
    /*cor da letra bramca*/
}

.content p {
    font-size: 2rem;
    /*tamanho da fonte para parágrafos*/
    font-weight: lighter;
    /*peso  da fuente ,ais leve*/
    line-height: 1.8rem;
    /*espaçamento entre linhas*/
    padding: 1rem 0;
    /*espaçamento interno*/
    color: #fff;
    /*cor da letra*/
}




/* https://www.w3schools.com/cssref/sel_before.php */


#home::before {
    content: "";
    /*adiciona psudo-elemento vazio*/
    position: absolute;
    /*Permite posicionamento absoluto*/
    top: 0;
    /*alinha o pseudo-elemento ao topo*/
    left: 0;
    /*alinha a esquerda*/
    width: 100%;
    /*ocupa toda a largura*/
    left: 100%;
    /*ocupa toda altura*/
    background-color: rgba(0, 0, 0, 0.5);
    /*adiciona sobreposição escura*/
    z-index: 1;
    /*posiciona abaixo do conteúdo*/
}

section {
    padding: 2rem 7%;
    /*Garante espaçamento interno nas sessões (responsividade)*/

}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    /*texto em caixa alta*/
    padding-bottom: 3rem;
    /*espaçamento interno em relação ao título*/
    font-size: 4rem;
    /*40px*/
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
    /*texto caiza alta*/
}

/*estelizando botones*/
.btn {
    margin-top: 2rem;
    padding: 0.9rem 3rem;
    /*preechimento interno superior e inferior*/
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    display: inline-block;
    /*deixando a formatação do  botão em formato de (bloco)

    https/www.w3schools.com/css/tryit.asp?
    filename=trycss_inline-block*/

}

.btn:hover {
    letter-spacing: 0.2rem;
    /*espaçamento entre as letras ao passsar mause*/

}

.row {
    display: flex;
    /*Define layout flexibel para os itens quebra os elementos*/
    align-items: center;
    /*alinha os itens ao centro verticalmente*/
    background: var(--br-card);
    /*Aplica uma color de fundo aos elementos*/
    flex-wrap: wrap;
    /*permite que os itens quebrem para a próxima linha*/
    border: var(--border);
    /*aplica uma borda ao da linha*/
}

.row .image {
    flex: 1 1 45rem;
    /*Define o tamanho flexível do elemento: base 45rem, podendo crear au encolher, au seja, faz com que possa ser adaptável para telas grandes ou pequenas*/

}

.row .image img {
    width: 100%;
    /*Faz com que a imagem ocupe toda s largura don container (.image)*/
}

.row .content {
    flex: 1 1 45rem;
    /*Define o tamanho flexível do conteúdo: base 45rem poderá crescer ou diminuir*/
    padding: 2rem;
    /*Adicione espaçamento interno ao redor do conteúdo*/
}

.row .content h3 {
    font-size: 3rem;
    /*define o tamanho da fonte para o subtítulo*/
    color: #fff;
    /*cor da letra*/

}

.row .content p {
    font-size: 1.6rem;
    /*Define o tamanho da fonte para o parágrafo*/
    color: #ccc;
    /*Define uma cor cinza para o texto*/
    padding: 1rem 0;
    /*adiciona espaçamento interno vertical ao texto e as laterais zeradas*/
    line-height: 1.8rem;
    /*define o espaçamento entre as linhas de um texto*/
}

/*estilizando clas menu junytando con container un solo*/
.container {
    display: grid;/*Organiza os elementos internos em um layout de grade*/
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); /*Cria columnas flexíveis com largura mínima de 30rem e máxima proporcional*/
    gap: 1.5rem;/*Define o espaçamento entre os itens da grade*/
}

/* estamos estilizando as caixas(pizzas)*/
.container .box {
    padding: 5rem;/*Adiciona espaçamento interno ao redor do conteúdo da caixa*/
    text-align: center;/*centraliza o texto horizontalmente*/
    border: var(--border);/*aplicando uma borda ao redor da caixa*/
    background: var(--br-card);/*Define  a cor de fundo da caixa*/
}

.container .box img {
    height: 18rem;/*define a altura da imagem*/
    border-radius: 100%;/*tornar a imagem circular*/
}

.container .box h2 {
    color: #fff;/*aplicando a cor branca ao título*/
    font-size: 2rem;/*Define o tamanho da fonte do título*/
    padding: 1rem 0;/*adiciona espaçamento vertical ao título*/
}

/*estilizando price (precios)*/
.container .box .price {
    color: #fff;/*Defini a cor branca para o preço*/
    font-size: 2.5rem;/*Define o tamanho da fonte do preço*/
    padding: 0.5rem 0;/*adiciona espaçamento vertical ao preço*/
}

.container .box .price samp {
    font-size: 1.5rem;/*Define o tamanho da fonte para o preço original*/
    text-decoration: line-through;/*aplica uma linha para indicar preço riscado*/
    font-weight: lighter;/*Aplica um peso de fonte mais fino*/
}

/*aplicando hover*/
.container .box:hover {
    background: #fff;
}


.container .box:hover>*{
    color: black;/*Altera a cor dos elementos filhos para preto ao passar mause*/
}

/*estilizando PROMOÇÕES*/
/*estelizando a DIV pai*/

.products .box-container {
    display: grid;/*organiza os elementos em uma grade*/
    grid-template-columns: repeat(auto-fit), minmax(30rem, 1fr);/*cria columnas flexíveis com largura mínima de 30rem e máxima proporcional*/
    gap: 1.5rem;/*define o espaçamento entre os itens da grade*/
}

/*estilizando os box(as caixas)*/
.box-container .box {
    text-align: center;/*centraliza os textos*/
    border: var(--border);/*aplica uma borda ao redor da caixa*/
    padding: 2rem;/*adiciona espaçamento interno nas caixas*/
}

/*estilizando os incons*/
.incons a i {
    height: 3rem;/*define a altura dos incones*/
    width: 3rem;/*largura dos incones*/
    line-height: 3rem;/*distancia dos conteúdos/altura da linha*/
    font-size: 1.7rem;/*define o tamanho da fuente para os ícones*/
    border: var(--border);/*aplica uma borda ao redor dos icones*/
    color: #fff;/*define a cor branca para os icones*/
    margin: 0.3rem;/*adiciona espaçamento entre os ícones*/
}

.icons a i:hover {
    background: var(--main-color);/*altura o fundo dos incones para a cor principal*/
}

.box .image {
    padding: 2rem 0;/*adiciona espaçamento vertical*/

}

.box .image .img {
    height: 25rem;/*altura das imagens*/
    
}

/*estilizando da caixa "content"*/

.box .content {
    color: #fff;/*define a cor branca para o conteúdo textual*/
    font-size: 2.5rem;/*define o tamanho da fuente o conteúdo*/
}

.box-container .stars{
    padding: 1.5rem;/*adiciona espaçamento ao redor das estrelas*/
}

.box-container .stars i {
    font-size: 1.9rem;/*tamanhodas estrelas*/
    color: var(--main-color);/*aplica a cor principal as estrelas*/
}

.box-container .price {
    color: #fff;
    font-size: 2.5rem;
}

.box-container .price span {
    font-weight: lighter;/*aplica fuente mais fina para o texto*/
    font-size: 1.5rem;/*define o tamanho da fuente*/
    text-transform: lowercase;/*trasforma o texto adicional para letras minúsculas*/
}